/* base style */

* {
    box-sizing: border-box;
}
body {
    background-color: #E0CCAF;
    color: #131319;
    font-size: 1.2rem;
    font-family: 'Noto Serif', serif;
}
main {
    padding: 1em;
}
h1, h2, h3, h4, h5, h6 {
    color: #961D1D;
    font-family: 'Rye', cursive;
    text-align: center;
}
h1 {
    font-size: 2.6rem;
}
h2 {
    font-size: 1.95rem;
}
h3 {
    font-size: 1.521rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1.079rem;
}
h6 {
    font-size: .871rem;
}
a {
    color: #131319;
}
img {
    display: block;
}

/* end base style */

/* header style */

header {
    padding: 1.5em 0;
    background-color: #131319;
    background-image: url("../images/tattooing-bw-sm.jpeg");
    background-position: center
}
.logo {
    margin: auto;
    max-width: 90%;
}

/* end header style */

/* nav style */

nav {
    background-color: #131319;
    color: #58B1BC;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
nav div {
    padding: 0.5em 0;
}
nav ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* end nav style */

/* contact info style */

address {
    font-style: normal;
}

/* end contact info style */

/* artist section style */

figure {
    margin: 0.5em;
    border: 3px solid #961D1D;
    background-color: #131319;
    text-align: center;
}

/* end artist section style */

/* footer style */

footer {
    margin-top: 4em;
    padding-bottom: 1.5em;
    border-top: 2px solid #961D1D;
    background-color: #131319;
    color: #58B1BC;
}
footer h3 {
    color: #D8B734;
}
footer a {
    color: #58B1BC;
}
.copyright {
    text-align: center;
    font-size: 1rem;
}

/* end footer style */