/* base style */

* {
    box-sizing: border-box;
}
body {
    font-size: 1.3rem;
}
h1 {
    font-size: 2.6rem;
}
h2 {
    font-size: 1.95rem;
}
h3 {
    font-size: 1.521rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1.079rem;
}
h6 {
    font-size: .871rem;
}

/* end base style */

/* header style */

.logo {
    max-width: 100vW;
}

/* end header style */

/* contact info style */

address {
    font-style: normal;
}

/* end contact info style */

/* artist section style */

figure {
    margin: 0.5em;
    border: 3px solid black;
    background-color: lightgray;
    text-align: center;
}

/* end artist section style */

/* footer style */

footer {
    margin-top: 4em;
    padding-bottom: 1.5em;
    border-top: 1px solid black;
    background-color: lightgray;
}
.copyright {
    text-align: center;
    font-size: 1rem;
}

/* end footer style */